@font-face {
    font-family: "Nazanin";
    src: url("https://db.onlinewebfonts.com/t/449ee763b258795f02f2bf6aac567712.eot");
    src: url("https://db.onlinewebfonts.com/t/449ee763b258795f02f2bf6aac567712.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/449ee763b258795f02f2bf6aac567712.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/449ee763b258795f02f2bf6aac567712.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/449ee763b258795f02f2bf6aac567712.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/449ee763b258795f02f2bf6aac567712.svg#Nazanin")format("svg");
}
body {
font-family: "Nazanin";
padding: 2rem;
text-align: center;
direction: rtl;
background: #f8f8f6;
max-width: 100%
}

textarea {
width: 90%;
height: 150px;
margin-bottom: 1rem;
direction: rtl
}

button {
padding: 0.75rem 2rem;
margin: 1rem;
border: none;
border-radius: 10px;
color: white;
cursor: pointer;
font-family: "Nazanin";
font-size: 7vw;
}

.logo-img {
width: 20%;
height: auto;
}

.blue {
background: #007bff;
}

.green {
background: #28a745;
}

.red {
background: #dc3545;
}

.table {
margin-top: 2rem;
width: 100%;
border-collapse: collapse;
}

.table th,
.table td {
padding: 10px;
border: 1px solid #ccc;
}

.table tr:nth-child(even) {
background: #f9f9f9;
}
/* @media only screen and (max-width: 460px) { */
    body {
        padding-top: 0px;
        font-size: 7vw;
    }
    label {
        width: 90%;
        display: inline-block;
        text-align: right;
        padding-bottom: 10px;
        padding-right: 0px;
    }
    textarea {
        font-family: "Nazanin";
        font-size: 6vw;
        padding-right: 5px;
    }
    .logo-img {
        width: 40%;
        height: auto;
    }


/* } */
#setup {
	margin-top: -40px;
}